.submit {
  width: 20vw;
  grid-area: 5/ 4 / 6 / 5;
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.1px solid #e549d5c1;
  cursor: pointer;
}
.submit:hover {
  box-shadow:
    -0.5em 0em 0.4em #e549d5c1,
    0.5em 0em 0.4em #e549d5c1;
}

.return {
  width: 20vw;
  grid-area: 1 / 1 / 1 / 2;
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 0.1px solid #e549d5c1;
  cursor: pointer;
}

.return:hover {
  box-shadow:
    -0.5em 0em 0.4em #e549d5c1,
    0.5em 0em 0.4em #e549d5c1;
}

.input {
  box-shadow: inset 0em 0em 0.4em #e549d5c1;
}
