@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Styling */

/* media queries go in globals */

/* use CSS modules for specific components (if you want) */

/* use Tailwind for bespoke element styling (if you want) */

/* IF you use CSS modules, either store them together with the relevant component, or in a separate 'styles' folder */
