@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: white;
}

body {
  background-color: #050505;
  color: rgba(50, 238, 225, 0.436);
  display: grid;
  text-align: center;
  scroll-behavior: smooth;
  overflow: scroll;
}

.headerNav {
  margin: 0;
  background-color: white;
  color: rgba(50, 238, 225, 0.436);
  text-shadow: 1px 0px 0px black;
  display: grid;
  grid-auto-flow: dense;
  justify-items: left;
  align-items: center;
  padding: 1rem;
}

.homeLink {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 10px;
}
.headerNav a {
  padding: 1rem;
  border-radius: 5px;
  border: 0.1px solid #e549d5c1;
}
.headerNav a:hover {
  box-shadow:
    -0.5em 0em 0.4em #e549d5c1,
    0.5em 0em 0.4em #e549d5c1;
}
.headerNav h1 {
  justify-self: center;
  margin-left: 7vw;
  font-size: 2.5rem;
  font-weight: bolder;
}

.headerNav nav {
  justify-self: center;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

fieldset {
  /* border: 2px solid rgba(50, 238, 225, 0.436); */
  border: 0.1px solid #e549d5c1;
  margin: 1rem;
  padding: 1rem;
}
/* Styling */

/* media queries go in globals */

/* use CSS modules for specific components (if you want) */

/* use Tailwind for bespoke element styling (if you want) */

/* IF you use CSS modules, either store them together with the relevant component, or in a separate 'styles' folder */
