.links {
  width: 40vw;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.1px solid #e549d5c1;
  cursor: pointer;
}
.links:hover {
  box-shadow:
    -0.5em 0em 0.4em #e549d5c1,
    0.5em 0em 0.4em #e549d5c1;
}

.input {
  box-shadow: inset 0em 0em 0.4em #e549d5c1;
}
